@import "./variables.css";

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color1);
  color: var(--color4);
  font-size: xx-large;
}

.use-width {
  width: max(30%, min(500px, 100%));
}

select {
  font-size: xx-large;
  width: 100%;
  background-color: var(--color1);
  color: var(--color4);
}

table {
  width: 100%;
  font-size: xx-large;
}

button {
  font-size: xx-large;
  padding: 15px 32px;
  border: none;
  border-radius: 15px;
  transition: 1s;
  width: 100%;
  background-color: var(--color2);
  color: var(--color4);
}

input[type="checkbox"] {
  width: 30px;
  height: 30px;
  accent-color: var(--color2);
}

::backdrop {
  opacity: 0.75;
}

dialog {
  background-color: var(--color1);
  color: var(--color4);
}
